* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", Helvetica, Tahoma, Arial, "Microsoft YaHei", 微软雅黑, 黑体, Heiti, sans-serif, SimSun, 宋体, serif
}

html, body {
	width: 100%;
	position: relative
}

textarea, input {
	outline: none
}

html {
	background: RGBA(247, 247, 247, 1)
}

.container {
	width: 100%;
	padding-top: 40px;
	position: relative
}

.container .not-found {
	margin: 0 auto;
	width: 800px;
	padding: 40px;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: bold;
	color: #000
}

.container .input-share-code {
	position: absolute;
	left: 50%;
	margin-top: 100px;
	transform: translateX(-50%);
	text-align: center;
	background: #FFF;
	padding: 25px 30px;
	border-radius: 5px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
	-webkit-animation: inputShareCodeIn ease-in 1s forwards
}

@keyframes inputShareCodeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.container .input-share-code[data-hide=true] {
	display: none
}

.container .input-share-code p {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #000
}

.container .input-share-code input {
	width: 220px;
	height: 30px;
	line-height: 28px;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	background: #FCFCFC;
	border-radius: 3px;
	color: #07a;
	border: 1px solid #ccc
}

.container .input-share-code input::placeholder {
	color: #ccc;
	font-size: 12px
}

.container .wrap {
	min-height: 900px;
	margin: 0 auto;
	min-width: 800px;
	max-width: 800px;
	width: 800px;
	padding: 50px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1)
}

.container .wrap[data-hide='true'] {
	display: none
}

.container .wrap h1.title {
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 28px
}

.container .wrap .article-info {
	width: 100%;
	margin-bottom: 60px;
	color: #999;
	text-align: center;
	padding-top: 10px;
	font-size: 14px
}

.container .wrap .content h1, .container .wrap .content h2, .container .wrap .content h3, .container .wrap .content h4, .container .wrap .content h5, .container .wrap .content h6 {
	width: 100%;
	padding: 10px 0;
	color: #000
}

.container .wrap .content h6 {
	font-size: 14px
}

.container .wrap .content h5 {
	font-size: 16px
}

.container .wrap .content h4 {
	font-size: 18px
}

.container .wrap .content h3 {
	font-size: 20px
}

.container .wrap .content h2 {
	font-size: 22px
}

.container .wrap .content h1 {
	font-size: 24px
}

.container .wrap .content p {
	line-height: 1.5;
	color: #666
}

.container .wrap .content p, .container .wrap .content li, .container .wrap .content ol {
	font-size: 14px
}

.container .wrap .content ul, .container .wrap .content li, .container .wrap .content ol {
	list-style: none
}

.container .wrap .content p, .container .wrap .content ul, .container .wrap .content ol {
	width: 100%;
	padding-bottom: 20px
}

.container .wrap .content pre {
	width: 100%;
	padding: 15px 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius: 5px;
	font-size: 14px
}

.container .wrap .content img {
	max-width: 100%
}

.container .wrap .content table {
	max-width: 100%;
	font-size: 14px;
	border-width: 1px;
	border-color: #ccc;
	border-collapse: collapse
}

.container .wrap .content table th {
	background: #f5f2f0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ccc
}

.container .wrap .content table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ccc
}
